/* 
 _____   _           _         _                        _                  
|_   _| | |         | |       | |                      | |                 
  | |   | |__   __ _| |_ ___  | |_ ___  _ __ ___   __ _| |_ ___   ___  ___ 
  | |   | '_ \ / _` | __/ _ \ | __/ _ \| '_ ` _ \ / _` | __/ _ \ / _ \/ __|
 _| |_  | | | | (_| | ||  __/ | || (_) | | | | | | (_| | || (_) |  __/\__ \
 \___/  |_| |_|\__,_|\__\___|  \__\___/|_| |_| |_|\__,_|\__\___/ \___||___/

Oh nice, welcome to the stylesheet of dreams. 
It has it all. Classes, ID's, comments...the whole lot:)
Enjoy responsibly!
@ihatetomatoes

*/

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe
{
    margin: .2em 0;
    padding: .2em 0;

    color: #000;
    background: #ccc;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
body
{
    width: 100%;
    height: 100%;
}

/* full width/height container */
#slides-container
{
    overflow: hidden;

    width: 100%;
    height: 100%;
}

/* double the height/width of a viewport */
#slides
{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 200%;
}
.slide
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 50%;
}
#slide-1
{
    background: url('../img/bcg_slide-1.jpg') no-repeat center center;
    background-size: cover;

    perspective: 500px;
}
#slide-2
{
    -webkit-transform: translate(0,100%);
        -ms-transform: translate(0,100%);
            transform: translate(0,100%);

    background: url('../img/bcg_slide-2.jpg') no-repeat center center;
    background-size: cover;
}
#slide-4
{
    -webkit-transform: translate(100%,0%);
        -ms-transform: translate(100%,0%);
            transform: translate(100%,0%);

    background: url('../img/bcg_slide-4.jpg') no-repeat center center;
    background-size: cover;
}

#helper
{
    position: absolute;
    top: 0;
    left: 0;

    width: 50px;
    height: 400%;
}
.marker
{
    width: 100%;
    height: 25%;
}
.red
{
    background-color: red;
}
.green
{
    background-color: green;
}
.blue
{
    background-color: blue;
}
.yellow
{
    background-color: yellow;
}























#slide-1 .fly-off
{
    width: 100%;
    height: 100%;

    transform-origin: 0 0 0;
    /*background: url('../img/slide-0.svg') no-repeat center center;*/

    background-size: cover;
}






















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir
{
    overflow: hidden;

    border: 0;
    background-color: transparent;
    /* IE 6/7 fallback */

    *text-indent: -9999px;
}

.ir:before
{
    display: block;

    width: 0;
    height: 150%;

    content: '';
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden
{
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
{
    position: static;

    overflow: visible;
    clip: auto;

    width: auto;
    height: auto;
    margin: 0;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible
{
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after
{
    display: table; /* 2 */

    content: ' '; /* 1 */
}

.clearfix:after
{
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix
{
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em)
{
    /* Style adjustments for viewports that meet the condition */

    /* =Caption style */
    .caption
    {
        text-align: right;
    }
    #slide-3 .caption,
    #slide-4 .caption
    {
        text-align: left;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi)
{
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print
{
    *
    {
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        background: transparent !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited
    {
        text-decoration: underline;
    }

    a[href]:after
    {
        content: ' (' attr(href) ')';
    }

    abbr[title]:after
    {
        content: ' (' attr(title) ')';
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^='javascript:']:after,
    a[href^='#']:after
    {
        content: '';
    }

    pre,
    blockquote
    {
        border: 1px solid #999;

        page-break-inside: avoid;
    }

    thead
    {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img
    {
        page-break-inside: avoid;
    }

    img
    {
        max-width: 100% !important;
    }

    @page
    {
        margin: .5cm;
    }

    p,
    h2,
    h3
    {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3
    {
        page-break-after: avoid;
    }
}

/* 
    Ok so you have made it this far, that means you are very keen to on my code. 
    Anyway I don't really mind it. This is a great way to learn so you actually doing the right thing:)
    Follow me @ihatetomatoes
*/
