// This file could serve as settings file
// everything would be handy in one place
// but would need to spend some  time  to
// figure out a good way.
$root-font-size: 16px;

// Color names by:
// http://chir.ag/projects/name-that-color
$color-black: #000;
$color-dark-grey: #232323;
$color-dirty-yellow: #bfa72f;
$color-driftwood: #a57b48;
$color-grey: #323232;
$color-lotus: #72403b;
$color-white: #fff;
$color-yellow: #f2d543;

// Fonts
// I'm not sure if I like the ubuntu font. I'd change it for something a bit more crisp
// but similar in style. It just looks like it's slightly blured, or it might just be me.
$font-days-one: 'Days One', sans-serif; // https://fonts.google.com/specimen/Ubuntu
$font-ubuntu: 'Ubuntu', sans-serif; // https://fonts.google.com/specimen/Days+One
