$root-font-size: 16px;

// Color names by:
// http://chir.ag/projects/name-that-color

$color-dark-grey: #232323;
$color-dirty-yellow: #bfa72f;
$color-driftwood: #a57b48;
$color-grey: #323232;
$color-lotus: #72403b;
$color-white: #fff;
$color-yellow: #f2d543;

// Fonts
$font-days-one: 'Days One', sans-serif; // https://fonts.google.com/specimen/Ubuntu
$font-ubuntu: 'Ubuntu', sans-serif; // https://fonts.google.com/specimen/Days+One
