#go-up // Ok! I'm going :P
{
    position: absolute;
    z-index: 999;
    bottom: 4em;
    left: 50%;

    width: 70px;
    height: 70px;
    margin-left: -35px;
    // I'm forcing the browser to download both graphics on load
    // this prevents the button from dissapearing until the hover
    // graphic has downloaded. 

    background-image: url('../img/go-to-top-hover.png');
    & > img
    {
        visibility: visible;

        width: 100%; // Scale the oversized image to fit the container.
        height: auto;
    }
    &:hover > img
    {
        // We are revealing the 'background-image' on hover :D
        visibility: hidden;
    }
}
