#header
{
    position: fixed; // We want it to stay in one place the whole time, don't we?
    z-index: 500; // I honestly don't know why it's 500 and not f/e 699 xD
    top: 0;
    left: 0;

    width: 100%;
    min-width: 100%;
    // Hide the header initially, allow skrollr to animate it. 
    // It shows through our awesome YELLOW welcome slide otherwise ;-(
    margin-top: -5em;
    padding: 0 2em;
    .logo
    {
        max-width: 260px;
        img
        {
            // We don't want this to exceed the maximum 
            // indended size of the logo. Again using
            // oversized image here to maintain the 
            // crispness of the logo on high density
            // screens - retina business.
            width: 100%;
            height: auto;
        }
    }
    .menu
    {
        margin-top: .6em;
        ul
        {
            margin: 0;
            padding: 0;

            list-style: none;
            li
            {
                font-weight: bold;

                display: inline-block;

                text-transform: uppercase;
                a
                {
                    line-height: 1em;

                    text-decoration: none;

                    opacity: .6;
                    color: $color-white;
                    &:after
                    {
                        padding: 0 6px;

                        content: url('../img/menu-separator.png');
                    }
                    &:hover
                    {
                        opacity: 1;
                    }
                }
                // Removes menu separator from the last menu item
                &:last-of-type > a:after
                {
                    padding: 0;

                    content: none;
                }
                &:first-of-type > a
                {
                    opacity: 1;
                }
            }
        }
    }
}
