
#slides
{
    perspective: 500px; // Allows for transform: translate3d()
}

#i-can-fly
{
    z-index: 999; // I can fly so I'm above everything!

    transform-origin: 0 0 0; // Allows to achieve interesting effects
    // SVG has pretty good support even as a <img /> http://caniuse.com/#feat=svg-img
    // I was hoping it would scale like it should and I'd achieve a nice and crisp image
    // while flying through it... Perhaps I need to spend more time figuring out how to
    // use svg's potential together with transform3d(); It occurs to me that it might not
    // be supported yet.
    // 
    // UPDATE:
    // The blury effect occurs due to the hardware accelleration that is being utilized
    // by css animations - transform in particular. The animated svg is being converted
    // to a bitmap before the animation applies... 

    background: url('../img/i-can-fly.svg') no-repeat center center;
    background-size: cover; // important to stretch it like that ;-)
}

// This is very important! It makes the whole animation magic possible
// All containers are positioned absolutely/relatively or even fixed
// and we need a way to stretch the viewport enough to fit all intended
// animations and effects...
#i-can-fly-helper
{
    position: absolute;
    z-index: 999999;
    top: 0;
    left: 0;

    visibility: hidden; // We don't want to see it in production, we just want it to work :D

    width: 5px; // Could be 1 px but 5px is beeter than 1px, isn't it!?
    height: 450%; // The more slides/animations the bigger the number here!
    .marker // these bad boys are here just to help us see what is skrollr doing!
    {
        width: 100%;
        height: 25%; // 25% of 400% = 100%
        &:nth-child(4n+1) // Just play with it if you need more colors :D You see the pattern
        {
            background-color: red;
        }
        &:nth-child(4n+2)
        {
            background-color: green;
        }
        &:nth-child(4n+3)
        {
            background-color: blue;
        }
        &:nth-child(4n+4)
        {
            background-color: yellow;
        }
    }
}

// This little princess displays current scroll position in %
// So we better style it nicely... 
#i-can-fly-helper-info
{
    position: fixed;
    z-index: 9999;
    top: 80px;
    left: 45px;

    visibility: hidden; // It can be activated via html - refer to index.html or js/main.js

    padding: 20px;

    color: #fff; // I'm boring, I know!
    background-color: rgba(0, 0, 0, .5);
}
