
#slides
{
    perspective: 500px; // Allows for transform: translate3d()
}

#i-can-fly
{
    z-index: 999; // I can fly so I'm on top!

    transform-origin: 0 0 0;

    background: url('../img/i-can-fly.svg') no-repeat center center;
    background-size: cover; // important to stretch it like that ;-)
}

// controlls the markers
#i-can-fly-helper
{
    position: absolute;
    z-index: 999999;
    top: 0;
    left: 0;

    visibility: hidden;

    width: 5px;
    height: 400%;
    .marker
    {
        width: 100%;
        height: 25%;
        // Just setting up some colors in order 
        // to see it better :D
        &:nth-child(4n+1)
        {
            background-color: red;
        }
        &:nth-child(4n+2)
        {
            background-color: green;
        }
        &:nth-child(4n+3)
        {
            background-color: blue;
        }
        &:nth-child(4n+4)
        {
            background-color: yellow;
        }
    }
}

#i-can-fly-helper-info
{
    position: fixed;
    z-index: 9999;
    top: 80px;
    left: 45px;

    visibility: hidden;

    padding: 20px;

    color: #fff;
    background-color: rgba(0, 0, 0, .5);
}
