#slides-container
{
    overflow: hidden;

    width: 100%;
    height: 100%;
}

#slides
{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    .slide
    {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        color: #fff;
        .caption
        {
            position: absolute;
            top: 30%;
            left: 0;

            max-width: 45%;
            margin-left: -52em;
            h1
            {
                font-family: $header-font;
                font-size: 3.5em;
            }
            p
            {
                font-size: 1.25em; /* 20px */

                max-width: 85%;

                opacity: .7;
            }
        }
    }
}

#slide-1
{
    overflow: hidden; // important, the bgvid will overflow otherwise

    background: url('../img/bgvid.png') no-repeat center center; // Using the very first frame of the background video here
    background-size: cover;
    .caption
    {
        margin-left: -52em; // hide it initially
    }
}

#slide-2
{
    // Offset the slide so that it is not stacked up with other slides.
    // This allows skrollr.js to do the magic! Play with it gently.
    transform: translate(0, 100%);
    .container-fluid,
    .row
    {
        height: 100%;
    }
}


// Stuff related to the animation (partly)
// it is a bit all over the place. Perhaps
// In the future we could extract everything
// related to the skrollr in order to have it
// in one place? It would make adding slides
// a breeze!
@import 'i-can-fly';
// Imports contact form styling
@import 'contact';
// Imports map styling
@import 'map';
