.zip-container
{
    font-weight: bold;

    position: absolute;
    z-index: 999;
    bottom: 0;
    left: 50%;

    width: 9em;
    height: 45%;
    margin: 0 -4.5em;

    text-align: center;
    text-transform: uppercase;
    .slider-container
    {
        height: 20%;
        min-height: 5.375em;
        .text
        {
            z-index: 10;

            margin-bottom: .75em;

            color: $color-black;
        }
        .slider
        {
            margin-bottom: .75em;

            background: url('../img/zip-white.png') no-repeat center center;
            background-size: 30px 47px;
            // breakpoint replacing the image for 2x bigger for high density screens
            @media(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi)
            {
                // Retina-specific stuff here
                // TODO: Do this for all images ;-D
                background: url('../img/zip-white@2x.png') no-repeat center center;
            }
            & > img
            {
                // Retina business.
                max-width: 30px;
                max-height: 47px;

                opacity: 1;
            }
        }
    }
    .zip,
    .scroll-progress
    {
        z-index: 5;

        width: .75em;
        margin: 0 auto;
    }
    .scroll-progress
    {
        height: 10%;

        border: none;
        border-radius: 0;
        background-color: $color-yellow;
    }
    .zip
    {
        height: 80%;

        opacity: 0;
        background-color: rgba(0,0,0,.4);
    }
}

#slide-2
{
    .zip-container
    {
        z-index: 444;
        top: 0;

        height: 100%;
        .zip
        {
            height: 100%;

            opacity: 1;
        }
    }
}
