#zip-container
{
    font-weight: bold;

    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 50%;

    width: 9em;
    height: 50%;
    margin: 0 -4.5em;

    text-align: center;
    text-transform: uppercase;
    .slider-container
    {
        height: 20%;
        min-height: 5.375em;
        .text
        {
            z-index: 10;

            margin-bottom: .75em;
        }
        .slider
        {
            z-index: 10;

            margin-bottom: .75em;
        }
    }
    .zip,
    .scroll-progress
    {
        z-index: 5;

        width: .75em;
        margin: 0 auto;
    }
    .scroll-progress
    {
        height: 10%;

        border: none;
        border-radius: 0;
        background-color: $color-yellow;
    }
    .zip
    {
        height: 80%;

        background-color: rgba(0,0,0,.4);
    }
}
